In [1]:
# Imports

# Numpy,Pandas
import numpy as np
import pandas as pd

# matplotlib,seaborn,pyecharts

import matplotlib.pyplot as plt
plt.style.use('ggplot')  #风格设置近似R这种的ggplot库
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline
import missingno as msno
import warnings
warnings.filterwarnings('ignore')  

pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [4]:
import os
trainFile = 'F:\\BaiduYunDownload\\金融的人工智能革命\\第4周\\作业数据\\LoanStats3a.csv'

pwd = os.getcwd()#get current work directory
print('1',pwd)
os.chdir(os.path.dirname(trainFile))#
print(os.path.dirname(trainFile))


data = pd.read_csv('LoanStats3a.csv',encoding='latin-1',skiprows = 1) #读取数据data.head() #查看表格默认前5行

1 F:\BaiduYunDownload\金融的人工智能革命\第4周\作业数据
F:\BaiduYunDownload\金融的人工智能革命\第4周\作业数据

In [5]:
data

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,hardship_flag,disbursement_method,debt_settlement_flag
0,5000.00000,5000.00000,4975.00000,36 months,10.65%,162.87000,B,B2,NaN,10+ years,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
1,2500.00000,2500.00000,2500.00000,60 months,15.27%,59.83000,C,C4,Ryder,< 1 year,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
2,2400.00000,2400.00000,2400.00000,36 months,15.96%,84.33000,C,C5,NaN,10+ years,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
3,10000.00000,10000.00000,10000.00000,36 months,13.49%,339.31000,C,C1,AIR RESOURCES BOARD,10+ years,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
4,3000.00000,3000.00000,3000.00000,60 months,12.69%,67.79000,B,B5,University Medical Group,1 year,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
5,5000.00000,5000.00000,5000.00000,36 months,7.90%,156.46000,A,A4,Veolia Transportaton,3 years,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
6,7000.00000,7000.00000,7000.00000,60 months,15.96%,170.08000,C,C5,Southern Star Photography,8 years,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
7,3000.00000,3000.00000,3000.00000,36 months,18.64%,109.43000,E,E1,MKC Accounting,9 years,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
8,5600.00000,5600.00000,5600.00000,60 months,21.28%,152.39000,F,F2,NaN,4 years,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
9,5375.00000,5375.00000,5350.00000,60 months,12.69%,121.45000,B,B5,Starbucks,< 1 year,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
10,6500.00000,6500.00000,6500.00000,60 months,14.65%,153.45000,C,C3,Southwest Rural metro,5 years,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
11,12000.00000,12000.00000,12000.00000,36 months,12.69%,402.54000,B,B5,UCLA,10+ years,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
12,9000.00000,9000.00000,9000.00000,36 months,13.49%,305.38000,C,C1,Va. Dept of Conservation/Recreation,< 1 year,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
13,3000.00000,3000.00000,3000.00000,36 months,9.91%,96.68000,B,B1,Target,3 years,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
14,10000.00000,10000.00000,10000.00000,36 months,10.65%,325.74000,B,B2,SFMTA,3 years,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
15,1000.00000,1000.00000,1000.00000,36 months,16.29%,35.31000,D,D1,Internal revenue Service,< 1 year,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
16,10000.00000,10000.00000,10000.00000,36 months,15.27%,347.98000,C,C4,Chin's Restaurant,4 years,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
17,3600.00000,3600.00000,3600.00000,36 months,6.03%,109.57000,A,A1,Duracell,10+ years,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
18,6000.00000,6000.00000,6000.00000,36 months,11.71%,198.46000,B,B3,Connection Inspection,1 year,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
19,9200.00000,9200.00000,9200.00000,36 months,6.03%,280.01000,A,A1,Network Interpreting Service,6 years,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
20,20250.00000,20250.00000,19142.16108,60 months,15.27%,484.63000,C,C4,Archdiocese of Galveston Houston,3 years,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
21,21000.00000,21000.00000,21000.00000,36 months,12.42%,701.73000,B,B4,Osram Sylvania,10+ years,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
22,10000.00000,10000.00000,10000.00000,36 months,11.71%,330.76000,B,B3,Value Air,10+ years,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
23,10000.00000,10000.00000,10000.00000,36 months,11.71%,330.76000,B,B3,Wells Fargo Bank,5 years,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
24,6000.00000,6000.00000,6000.00000,36 months,11.71%,198.46000,B,B3,bmg-educational,1 year,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
25,15000.00000,15000.00000,15000.00000,36 months,9.91%,483.38000,B,B1,Winfield Pathology Consultants,2 years,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
26,15000.00000,15000.00000,8725.00000,36 months,14.27%,514.64000,C,C2,nyc transit,9 years,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
27,5000.00000,5000.00000,5000.00000,60 months,16.77%,123.65000,D,D2,Frito Lay,2 years,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
28,4000.00000,4000.00000,4000.00000,36 months,11.71%,132.31000,B,B3,Shands Hospital at the University of Fl,10+ years,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
29,8500.00000,8500.00000,8500.00000,36 months,11.71%,281.15000,B,B3,Oakridge homes,< 1 year,...,1.00000,Individual,0.00000,0.00000,0.00000,0.00000,0.00000,N,Cash,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42508,6000.00000,6000.00000,1200.00000,36 months,13.12%,202.51000,D,D5,SUNY- ESF,2 years,...,1.00000,Individual,0.00000,nan,0.00000,nan,nan,N,Cash,N
42509,5350.00000,5350.00000,625.00000,36 months,13.12%,180.57000,D,D5,Clinton Shop Rite of Hunterdon County,1 year,...,1.00000,Individual,0.00000,nan,0.00000,nan,nan,N,Cash,N
42510,1900.00000,1900.00000,900.00000,36 months,9.64%,61.00000,B,B4,Scheduall,1 year,...,1.00000,Individual,nan,nan,nan,nan,nan,N,Cash,N
42511,10000.00000,10000.00000,350.00000,36 months,14.70%,345.18000,E,E5,GA-PCOM,1 year,...,1.00000,Individual,0.00000,nan,0.00000,nan,nan,N,Cash,N
42512,2000.00000,2000.00000,1275.00000,36 months,7.12%,61.87000,A,A1,Tzigane Inc,7 years,...,1.00000,Individual,0.00000,nan,0.00000,nan,nan,N,Cash,N
42513,6000.00000,6000.00000,650.00000,36 months,10.59%,195.28000,C,C2,Yale University,< 1 year,...,1.00000,Individual,0.00000,nan,0.00000,nan,nan,N,Cash,N
42514,4400.00000,4400.00000,1400.00000,36 months,9.64%,141.25000,B,B4,Brick Township board of education,2 years,...,1.00000,Individual,0.00000,nan,0.00000,nan,nan,N,Cash,N
42515,1200.00000,1200.00000,500.00000,36 months,9.01%,38.17000,B,B2,Classic Components,< 1 year,...,1.00000,Individual,nan,nan,nan,nan,nan,N,Cash,N
42516,5000.00000,5000.00000,375.00000,36 months,11.22%,164.23000,C,C4,Compensation Solutions,< 1 year,...,1.00000,Individual,nan,nan,nan,nan,nan,N,Cash,N
42517,1400.00000,1400.00000,475.00000,36 months,10.91%,45.78000,C,C3,"Stanford University Libraries, LOCKSS Project",< 1 year,...,1.00000,Individual,nan,nan,nan,nan,nan,N,Cash,N
42518,1000.00000,1000.00000,625.00000,36 months,14.07%,34.21000,E,E3,Macy's,10+ years,...,1.00000,Individual,nan,nan,nan,nan,nan,N,Cash,N
42519,5000.00000,5000.00000,300.00000,36 months,7.75%,156.11000,A,A3,Diamond Management and Technology Consultants,10+ years,...,1.00000,Individual,nan,nan,nan,nan,nan,N,Cash,N
42520,2500.00000,2500.00000,225.00000,36 months,7.43%,77.69000,A,A2,U.S. Bank,9 years,...,1.00000,Individual,nan,nan,nan,nan,nan,N,Cash,N
42521,3000.00000,3000.00000,250.00000,36 months,7.43%,93.23000,A,A2,NC,1 year,...,1.00000,Individual,nan,nan,nan,nan,nan,N,Cash,N
42522,2600.00000,2600.00000,575.00000,36 months,8.38%,81.94000,A,A5,College Pro Painters,3 years,...,1.00000,Individual,nan,nan,nan,nan,nan,N,Cash,N
42523,1000.00000,1000.00000,625.00000,36 months,7.12%,30.94000,A,A1,Mana Products,6 years,...,1.00000,Individual,nan,nan,nan,nan,nan,N,Cash,N
42524,6450.00000,6450.00000,0.00000,36 months,11.22%,211.85000,C,C4,Apto Solutions,2 years,...,1.00000,Individual,nan,nan,nan,nan,nan,N,Cash,N
42525,1275.00000,1275.00000,0.00000,36 months,12.49%,42.65000,D,D3,Infinitely law group,1 year,...,1.00000,Individual,nan,nan,nan,nan,nan,N,Cash,N
42526,10500.00000,10500.00000,275.00000,36 months,11.22%,344.87000,C,C4,Town of Plainville,3 years,...,1.00000,Individual,nan,nan,nan,nan,nan,N,Cash,N
42527,3000.00000,3000.00000,125.00000,36 months,9.01%,95.42000,B,B2,Tanks Tavern,< 1 year,...,1.00000,Individual,nan,nan,nan,nan,nan,N,Cash,N
42528,3000.00000,3000.00000,0.00000,36 months,9.33%,95.86000,B,B3,NaN,< 1 year,...,1.00000,Individual,nan,nan,nan,nan,nan,N,Cash,N
42529,2000.00000,2000.00000,225.00000,36 months,9.96%,64.50000,B,B5,NaN,< 1 year,...,1.00000,Individual,nan,nan,nan,nan,nan,N,Cash,N
42530,6500.00000,6500.00000,0.00000,36 months,9.64%,208.66000,B,B4,Air Force,< 1 year,...,1.00000,Individual,nan,nan,nan,nan,nan,N,Cash,N
42531,3500.00000,3500.00000,225.00000,36 months,10.28%,113.39000,C,C1,NaN,< 1 year,...,1.00000,Individual,nan,nan,nan,nan,nan,N,Cash,N
42532,1000.00000,1000.00000,0.00000,36 months,9.64%,32.11000,B,B4,Halping hands company inc.,< 1 year,...,1.00000,Individual,nan,nan,nan,nan,nan,N,Cash,N
42533,2525.00000,2525.00000,225.00000,36 months,9.33%,80.69000,B,B3,NaN,< 1 year,...,1.00000,Individual,nan,nan,nan,nan,nan,N,Cash,N
42534,6500.00000,6500.00000,0.00000,36 months,8.38%,204.84000,A,A5,NaN,< 1 year,...,1.00000,Individual,nan,nan,nan,nan,nan,N,Cash,N
42535,5000.00000,5000.00000,0.00000,36 months,7.75%,156.11000,A,A3,Homemaker,10+ years,...,1.00000,Individual,nan,nan,nan,nan,nan,N,Cash,N
42536,nan,nan,nan,NaN,NaN,nan,NaN,NaN,NaN,NaN,...,nan,NaN,nan,nan,nan,nan,nan,NaN,NaN,NaN
42537,nan,nan,nan,NaN,NaN,nan,NaN,NaN,NaN,NaN,...,nan,NaN,nan,nan,nan,nan,nan,NaN,NaN,NaN

In [6]:
check_null = data.isnull().sum(axis=0).sort_values(ascending=False)/float(len(data)) #查看缺失值比例
print(check_null[check_null > 0.2]) # 查看缺失比例大于20%的属性。

desc   0.31254
dtype: float64

In [ ]:
thresh_count = len(data)*0.4 # 设定阀值
data = data.dropna(thresh=thresh_count, axis=1 )

In [ ]:
data.isnull().sum(axis=0).sort_values(ascending=False)/float(len(data))

In [ ]:

data.to_csv('loans_2017q2_ml.csv', index = False) # 将初步预处理后的数据转化为csv

In [ ]:
loans = pd.read_csv('loans_2017q2_ml.csv',encoding='gb2312')
loans.dtypes.value_counts() # 分类统计数据类型

In [ ]:
objectColumns = loans.select_dtypes(include=["object"]).columns
loans[objectColumns].isnull().sum().sort_values(ascending=False)

In [ ]:
loans['int_rate'] = loans['int_rate'].str.rstrip('%').astype('float')
loans['revol_util'] = loans['revol_util'].str.rstrip('%').astype('float')

In [ ]:
loans.int_rate.head(10)

In [ ]:
objectColumns = loans.select_dtypes(include=["object"]).columns  # 对objectColumns重新赋值

In [ ]:
print(objectColumns)

In [ ]:
msno.matrix(loans[objectColumns]) #缺失值可视化

In [ ]:
msno.heatmap(loans[objectColumns]) #查看缺失值之间的相关性

In [ ]:
objectColumns = loans.select_dtypes(include=["object"]).columns # 筛选数据类型为object的数据
loans[objectColumns] = loans[objectColumns].fillna("Unknown") #以分类“Unknown”填充缺失值

In [ ]:
msno.bar(loans[objectColumns]) #可视化

In [ ]:
loans.select_dtypes(include=[np.number]).isnull().sum().sort_values(ascending=False)

In [ ]:
numColumns = loans.select_dtypes(include=[np.number]).columns
msno.matrix(loans[numColumns])

In [ ]:
pd.set_option('display.max_columns', len(loans.columns))
loans[numColumns]

In [ ]:
from sklearn.preprocessing import Imputer
imr = Imputer(missing_values='NaN', strategy='mean', axis=0)  # 针对axis=0 列来处理
imr = imr.fit(loans[numColumns])
loans[numColumns] = imr.transform(loans[numColumns])
msno.matrix(loans)

In [ ]:
objectColumns = loans.select_dtypes(include=["object"]).columns
var = loans[objectColumns].columns
for v in var:
    print('\nFrequency count for variable {0}'.format(v))
    print(loans[v].value_counts())
loans[objectColumns].shape

In [ ]:
drop_list = ['sub_grade', 'emp_title',  'title', 'zip_code', 'addr_state', 
             'initial_list_status','title','issue_d','last_pymnt_d','last_pymnt_amnt',
             'last_credit_pull_d','policy_code','collection_recovery_fee', 'earliest_cr_line']
loans.drop(drop_list, axis=1,inplace=True)
loans

In [ ]:
loans.select_dtypes(include = ['object']).shape
loans.select_dtypes(include = ['object']).head()

In [ ]:
#使用Pandas replace函数定义新函数：

def coding(col, codeDict):

    colCoded = pd.Series(col, copy=True)
    for key, value in codeDict.items():
        colCoded.replace(key, value, inplace=True)

    return colCoded

#把贷款状态LoanStatus编码为违约=1, 正常=0:

pd.value_counts(loans["loan_status"])

loans["loan_status"] = coding(loans["loan_status"], {'Current':0,'Fully Paid':0,'In Grace Period':1,'Late (31-120 days)':1,'Late (16-30 days)':1,'Charged Off':1})

print( '\nAfter Coding:')

pd.value_counts(loans["loan_status"])

In [ ]:
fig, axs = plt.subplots(1,2,figsize=(14,7))
sns.countplot(x='loan_status',data=loans,ax=axs[0])
axs[0].set_title("Frequency of each Loan Status")
loans['loan_status'].value_counts().plot(x=None,y=None, kind='pie', ax=axs[1],autopct='%1.2f%%')
axs[1].set_title("Percentage of each Loan status")
plt.show()

In [ ]:
object_columns_df =loans.select_dtypes(include=["object"]) #筛选数据类型为object的变量
print(object_columns_df.iloc[0])

In [ ]:
loans['delinq_2yrs'] = loans['delinq_2yrs'].apply(lambda x: float(x))
loans['total_acc'] = loans['total_acc'].apply(lambda x: float(x))
loans['revol_bal'] = loans ['revol_bal'].apply(lambda x: float(x))
loans.select_dtypes(include=["object"]).describe().T # 再次检查数据

In [ ]:
# 构建mapping，对有序变量"emp_length”、“grade”进行转换
mapping_dict = {
    "emp_length": {
        "10+ years": 10,
        "9 years": 9,
        "8 years": 8,
        "7 years": 7,
        "6 years": 6,
        "5 years": 5,
        "4 years": 4,
        "3 years": 3,
        "2 years": 2,
        "< 1 year": 0,
        "n/a": 0
    },
    "grade":{
        "A": 1,
        "B": 2,
        "C": 3,
        "D": 4,
        "E": 5,
        "F": 6,
        "G": 7
    }
}

loans = loans.replace(mapping_dict) #变量映射
loans[['emp_length','grade']].head() #查看效果

In [ ]:
n_columns = ["home_ownership", "verification_status", "application_type","purpose", "term"] 
dummy_df = pd.get_dummies(loans[n_columns])# 用get_dummies进行one hot编码
loans = pd.concat([loans, dummy_df], axis=1) #当axis = 1的时候，concat就是行对齐，然后将不同列名称的两张表合并

In [ ]:
loans.loc[:,loans.columns.str.contains("home_ownership")].head() #筛选包含home_ownership的所有变量

In [ ]:
loans = loans.drop(n_columns, axis=1)  #清除原来的分类变量

In [ ]:
loans.info()

In [ ]:
col = loans.select_dtypes(include=['int64','float64']).columns
len(col) #78个特征
#col = col.drop('loan_status') #剔除目标变量
loans_ml_df = loans # 复制数据至变量loans_ml_df###################################################################################
from sklearn.preprocessing import StandardScaler # 导入模块
sc =StandardScaler() # 初始化缩放器
loans_ml_df[col] =sc.fit_transform(loans_ml_df[col]) #对数据进行标准化loans_ml_df.head() #查看经标准化后的数据

In [ ]:
loans_ml_df.head()

In [ ]:
#构建X特征变量和Y目标变量
x_feature = list(loans_ml_df.columns)
x_feature.remove('loan_status')
x_val = loans_ml_df[x_feature]
y_val = loans_ml_df['loan_status']
len(x_feature) # 查看初始特征集合的数量

In [ ]:
x_val.describe().T # 初览数据

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
# 建立递归特征消除筛选器
rfe = RFE(model, 30) #通过递归选择特征，选择30个特征
rfe = rfe.fit(x_val, y_val)
# 打印筛选结果
print(rfe.support_)
print(rfe.ranking_) #ranking 为 1代表被选中，其他则未被代表未被选中

In [ ]:
y_val